.content-area {
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.input-area {
	width: 100%;
}
.plot-area {
	margin-top: 1em;
}

.color-count-selector {
	width: 100%;
	margin: 0;
	padding-block: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.color-selector-button {
	background-color: transparent;
	color: white;
	padding: 0.5em;
	margin-inline: 1em;
	cursor: pointer;
	border-radius: 3px;
}
.color-selector-button:active {
	background-color: white;
	color: black;
}
