li {
	list-style: none;
}

.palette {
	background-color: rgb(66, 66, 66);
	width: 100%;
}
.palette > ul {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}
.colorBlock {
	background-color: black;
	width: 100%;
}
.colorBlock > * {
	width: 90%;
	height: 90%;
	margin-inline: auto;
	margin-block: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
