@font-face {
	font-family: "kitestrings";
	src: url("../../assets/milestone/MilestoneFreeVersion-Script.otf");
}
h1 {
	font-family: "kitestrings", "Signika Negative", sans-serif;
	font-size: 4.5rem;
	margin: 0 1rem 10rem 1rem;
	text-align: center;
}
p {
	margin: 0 3rem;
}
.sidebar-container {
	position: relative;
	width: 25%;
	color: rgb(245, 245, 245);

	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
