@font-face {
	font-family: "kitestrings";
	src: url("../../assets/milestone/MilestoneFreeVersion-Script.otf");
}
h1 {
	font-family: "kitestrings", "Signika Negative", sans-serif;
	font-size: 4.5rem;
	margin: 0 1rem 10rem 1rem;
	text-align: center;
}
p {
	margin: 0 3rem;
}
.sidebar-container {
	position: relative;
	width: 100%;
	color: rgb(245, 245, 245);

	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.video-background {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh; /* Set the height to the height of the viewport */
	background: url("../../assets/paint.mp4") no-repeat center center fixed;
	/* Set the video file as the background image */
	background-size: cover; /* Scale the video to cover the entire div */
}
