html,
body,
#root {
	/* Assuming the root div has an id of 'root' */
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Optionally, if you want to ensure no overflow issues */
body {
	overflow-x: hidden;
	overscroll-behavior: none;
}
.spinner_Wezc {
	transform-origin: center;
	animation: spinner_Oiah 0.75s step-end infinite;
}
@keyframes spinner_Oiah {
	8.3% {
		transform: rotate(30deg);
	}
	16.6% {
		transform: rotate(60deg);
	}
	25% {
		transform: rotate(90deg);
	}
	33.3% {
		transform: rotate(120deg);
	}
	41.6% {
		transform: rotate(150deg);
	}
	50% {
		transform: rotate(180deg);
	}
	58.3% {
		transform: rotate(210deg);
	}
	66.6% {
		transform: rotate(240deg);
	}
	75% {
		transform: rotate(270deg);
	}
	83.3% {
		transform: rotate(300deg);
	}
	91.6% {
		transform: rotate(330deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.App {
	display: fixed;
	width: 100vw;
	height: 100vh;
	color: white;
	background-color: #0f0f0f;
	overscroll-behavior: none;
	margin: 0;
	padding: 0;
	height: 100vh;
}

@font-face {
	font-family: "MyFont";
	src: url("../public/Molika/MOLIKA.ttf") format("truetype"),
		url("../public/Molika/MOLIKA.svg") format("svg"),
		url("../public/Molika/MOLIKA.woff2") format("woff2");
	font-weight: bolder;
	font-style: italic;
}

.main-header {
	font-family: "MyFont", sans-serif;
	font-weight: bolder;
	font-size: 7em; /* default font size for smaller screens */
	transition: 0.1s ease;
}
.main-description {
	font-size: smaller;
}

@media screen and (min-width: 768px) {
	.main-header {
		font-size: 8em;
	}
	.main-description {
		font-size: small;
	}
}

@media screen and (min-width: 1024px) {
	.main-header {
		font-size: 12em;
	}
	.main-description {
		font-size: medium;
	}
}

@media screen and (min-width: 1200px) {
	.main-header {
		font-size: 16em;
	}
	.main-description {
		font-size: larger;
		margin-bottom: 5em;
	}
}

.input-button {
	display: none;
}

.rgb-plot {
	border: 1px solid #fff;
}
