.App {
	display: fixed;
	width: 100vw;
	height: 100vh;
	color: white;
	background-color: #111111;
	overscroll-behavior: none;
	margin: 0;
	padding: 0;
	height: 100vh;
}

@font-face {
	font-family: "MyFont";
	src: url("../public/Molika/MOLIKA.ttf") format("truetype"),
		url("../public/Molika/MOLIKA.svg") format("svg"),
		url("../public/Molika/MOLIKA.woff2") format("woff2");
	font-weight: bolder;
	font-style: italic;
}

.main-header {
	font-family: "MyFont", sans-serif;
	font-weight: bolder;
	font-size: 7em; /* default font size for smaller screens */
	transition: 0.1s ease;
}
.main-description {
	font-size: smaller;
}

@media screen and (min-width: 768px) {
	.main-header {
		font-size: 8em;
	}
	.main-description {
		font-size: small;
	}
}

@media screen and (min-width: 1024px) {
	.main-header {
		font-size: 12em;
	}
	.main-description {
		font-size: medium;
	}
}

@media screen and (min-width: 1200px) {
	.main-header {
		font-size: 16em;
	}
	.main-description {
		font-size: larger;
		margin-bottom: 5em;
	}
}

.input-button {
	display: none;
}

.rgb-plot {
	border: 1px solid #fff;
}
