.App {
	display: fixed;
	width: 100vw;
	height: 100vh;
	color: white;
	background-color: #111111;
	overscroll-behavior: none;
	margin: 0;
	padding: 0;
	height: 100vh;
}

@font-face {
	font-family: "MyFont";
	src: url("./assets/fonts/Molika/MOLIKA.ttf");
	font-weight: bolder;
	font-style: italic;
}
.main-header {
	font-family: "MyFont", sans-serif;
	font-weight: bolder;
	font-size: 7em; /* default font size for smaller screens */
	transition: 0.1s ease;
}
.main-description {
	font-size: smaller;
}

@media screen and (min-width: 768px) {
	.main-header {
		font-size: 8em;
	}
	.main-description {
		font-size: small;
	}
}

@media screen and (min-width: 1024px) {
	.main-header {
		font-size: 12em;
	}
	.main-description {
		font-size: medium;
	}
}

@media screen and (min-width: 1200px) {
	.main-header {
		font-size: 16em;
	}
	.main-description {
		font-size: larger;
		margin-bottom: 5em;
	}
}

input[type="file"]::before {
	content: none;
}
input[type="file"]::file-selector-button {
	background-color: transparent;
	border: 1px solid white;
	color: #fff;
	padding: 8px 12px;
	border-radius: 2px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s;
	margin: 1em;
}
input[type="file"]::file-selector-button:hover {
	background-color: white;
	color: black;
}
.rgb-plot {
	border: 1px solid #fff;
}
