@tailwind base;
@tailwind components;
@tailwind utilities;

::after,
::before,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.js-plotly-plot {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
