.content-area {
	width: 100%;
	background-color: pink;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-area {
	width: 100%;
}
.plot-area {
	background-color: gold;
}
.palette-area {
}
